.vscode/**
.vscode-test/**
.gitignore
.gitattributes
tsconfig.json
webpack.config.js
demo/**
resources/**
src/**
node_modules
out/**
package-lock.json

.calva/**
.clj-kondo/**
.cpcache/**
.lsp/**
.shadow-cljs/**
deps.edn
shadow-cljs.edn