;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[instaparse "1.4.12"]]

 :cache-blockers #{instaparse.core} ;; https://shadow-cljs.github.io/docs/UsersGuide.html#_compiler_cache

 :builds
 {:formatter {:target :node-library
              :exports-var formatter.exports/exports
              :output-to "out/formatter.js"}}}